<h1>Enrollments</h1>

<p><a href="/new_enrollment">Add a New Enrollment</a></p>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |enrollment| %>
    <tr>
      <td><%= enrollment.student_id %> <%= enrollment.student.name %> &nbsp;</td> 
      <td><%= enrollment.course_id %> <%= enrollment.course.inspect %> &nbsp; </td>
          <td><a href="/enrollments/<%= enrollment.id %>">&nbsp; Show</a>
        </td>
      <td><a href="/enrollments/<%= enrollment.id %>/edit">&nbsp;  Edit</a></td>
      <td><a href="/enrollments/<%= enrollment.id %>/destroy">&nbsp;  Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

