<h1>Enrollment #<%= @enrollment.id %></h1>

<div>
  <strong>Student</strong>:<br />
  <p><%= @enrollment.student_id %></p>
</div>
<div>
  <strong>Course</strong>:<br />
  <p><%= @enrollment.course_id %></p>
</div>

<a href="/enrollments/<%= @enrollment.id %>/edit">&nbsp; Edit &nbsp; </a> |
<a href="/enrollments/<%= @enrollment.id %>/destroy">&nbsp; Destroy</a>
