<h1>Course #<%= @course.id %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
</div>
<!-- 
  <strong>Name</strong>:<br />
  <p><%= @course.name %></p>

<div>
  <strong>Students</strong>:<br />
  <p><% @course.enrollments.each do |enrollment| %></p>
  <li> <%= enrollment.student.name %></li>
  <% end %>
</div> -->
<p />
        
    <div class="list-group">
      <strong> Students Enrolled in: <%= @course.name %></strong><br />
      <p><% @course.enrollments.each do |enrollment| %></p>

      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading"><%= enrollment.student.try(:name) %></h4>  
      </a>
      <% end %>
    </div>
  </div>
<p />
<a href="/courses/<%= @course.id %>/edit">Edit</a> |
<a href="/courses/<%= @course.id %>/destroy">Destroy</a>